@model Lumiereshop.Models.PhanHoi

@{
    Layout = "_AdminLayout";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Xác nhận xóa Phản hồi</h4>
                    </div>
                    <div class="card-body">
                        <label>Bạn có chắc muốn xóa Phản hồi này?</label>
                        <form asp-action="Delete" asp-route-id="@Model.ID">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
